In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

import numpy as np

import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sn

pd.set_option('display.max_rows', 500) # specifies number of rows to show
pd.options.display.float_format = '{:40,.4f}'.format # specifies default number format to 4 decimal places
plt.style.use('ggplot') # specifies that graphs should use ggplot styling
%matplotlib inline

In [2]:
df = pd.read_csv('GWR.csv')

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Lat,"8,989.0000",51.4955,0.0781,51.2948,51.4383,51.4913,51.5572,51.6819
Long,"9,005.0000",-0.1140,0.1550,-0.4979,-0.2105,-0.1161,-0.0115,0.2740
num_Dur,"9,015.0000",1.5700,0.4951,1.0000,1.0000,2.0000,2.0000,2.0000
num_Old,"9,015.0000",1.9728,0.1626,1.0000,2.0000,2.0000,2.0000,2.0000
num_Prd,"9,015.0000",1.1662,0.3723,1.0000,1.0000,1.0000,1.0000,2.0000
num_Pro,"9,015.0000",1.5736,1.3562,1.0000,1.0000,1.3000,1.4000,7.0000
dis_station,"9,015.0000",9.5436,5.5293,0.0700,4.9310,8.9300,13.7835,25.2610
dis_airport,"9,015.0000",24.1616,8.1796,1.4190,18.5135,25.3430,30.7955,39.9340
Price,"9,015.0000","831,103.8232","4,307,384.0430",100.0000,"375,000.0000","500,000.0000","725,000.0000","296,280,000.0000"