In [1]:
import math                               
from math import radians, cos, sin, asin, sqrt
# import the required libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np
import sys
import time
import calendar
import seaborn as sns
from scipy import stats

import itertools

In [5]:
house_df = pd.read_csv('His.csv', dayfirst = True)

In [6]:
house_lat = np.array(house_df['lat'])
house_long = np.array(house_df['long'])

In [4]:
# Km

def geodistance(lng1,lat1,lng2,lat2):
    #lng1,lat1,lng2,lat2 = (120.12802999999997,30.28708,115.86572000000001,28.7427)
      
    lng1, lat1, lng2, lat2 = map(radians, [float(lng1), float(lat1), float(lng2), float(lat2)]) # 经纬度转换成弧度
    dlon=lng2-lng1
    dlat=lat2-lat1
    a=sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    distance=2*asin(sqrt(a))*6371*1000 # 地球平均半径，6371km
    distance=round(distance/1000,3)
    return distance

In [7]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50296 entries, 0 to 50295
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    50296 non-null  int64
 1   pcd           50296 non-null  object
 2   lat           50296 non-null  float64
 3   long          50296 non-null  float64
 4   H_distance    50296 non-null  float64
 5   G_distance    50296 non-null  float64
 6   S_distance    50296 non-null  float64
 7   L_distance    50296 non-null  float64
 8   C_distance    50296 non-null  float64
 9   Sou_distance  50296 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 3.8+ MB

In [8]:
Rail = house_df[['pcd','lat','long']]

In [9]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.1263','51.5325'))
Rail['St_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [11]:
Rail.info()
Rail.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50296 entries, 0 to 50295
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pcd          50296 non-null  object
 1   lat          50296 non-null  float64
 2   long         50296 non-null  float64
 3   St_distance  50296 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

      pcd        lat      long  St_distance
0  BR11AA  51.401546  0.015415       17.561
1  BR11BQ  51.408058  0.015874       16.984
2  BR11EZ  51.404336  0.014761       17.279
3  BR11HT  51.401521  0.014249       17.519
4  BR11JA  51.401897  0.014323       17.487

In [12]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.123332','51.530833'))
Rail['Ki_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [13]:
Rail.info()
Rail.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50296 entries, 0 to 50295
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pcd          50296 non-null  object
 1   lat          50296 non-null  float64
 2   long         50296 non-null  float64
 3   St_distance  50296 non-null  float64
 4   Ki_distance  50296 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

      pcd        lat      long  St_distance  Ki_distance
0  BR11AA  51.401546  0.015415       17.561       17.293
1  BR11BQ  51.408058  0.015874       16.984       16.714
2  BR11EZ  51.404336  0.014761       17.279       17.010
3  BR11HT  51.401521  0.014249       17.519       17.251
4  BR11JA  51.401897  0.014323       17.487       17.219

In [14]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.112777','51.503056'))
Rail['Wa_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.143849','51.5419359'))
Rail['Vic_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
Rail.info()
Rail.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50296 entries, 0 to 50295
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pcd           50296 non-null  object
 1   lat           50296 non-null  float64
 2   long          50296 non-null  float64
 3   St_distance   50296 non-null  float64
 4   Ki_distance   50296 non-null  float64
 5   Wa_distance   50296 non-null  float64
 6   Vic_distance  50296 non-null  float64
dtypes: float64(6), object(1)
memory usage: 2.7+ MB

,pcd,lat,long,St_distance,Ki_distance,Wa_distance,Vic_distance
0,BR11AA,51.401546,0.015415,17.561,17.293,14.363,19.115
1,BR11BQ,51.408058,0.015874,16.984,16.714,13.822,18.547
2,BR11EZ,51.404336,0.014761,17.279,17.010,14.092,18.836
3,BR11HT,51.401521,0.014249,17.519,17.251,14.316,19.071
4,BR11JA,51.401897,0.014323,17.487,17.219,14.286,19.039

In [17]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.0801','51.5178'))
Rail['Liv_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,' -0.0942','51.47'))
Rail['Lond_distance'] = distance

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.1247618','51.5081364'))
Rail['Char_distance'] = distance

In [20]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.133888','51.528333'))
Rail['Eus_distance'] = distance

In [21]:
distance = []
for i,l in zip(house_long,house_lat):
    distance.append(geodistance(i,l,'-0.175743',' 51.5154'))
Rail['Padd_distance'] = distance

In [22]:
Rail.info()
Rail.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50296 entries, 0 to 50295
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pcd            50296 non-null  object
 1   lat            50296 non-null  float64
 2   long           50296 non-null  float64
 3   St_distance    50296 non-null  float64
 4   Ki_distance    50296 non-null  float64
 5   Wa_distance    50296 non-null  float64
 6   Vic_distance   50296 non-null  float64
 7   Liv_distance   50296 non-null  float64
 8   Lond_distance  50296 non-null  float64
 9   Char_distance  50296 non-null  float64
 10  Eus_distance   50296 non-null  float64
 11  Padd_distance  50296 non-null  float64
dtypes: float64(11), object(1)
memory usage: 4.6+ MB

,pcd,lat,long,St_distance,Ki_distance,Wa_distance,Vic_distance,Liv_distance,Lond_distance,Char_distance,Eus_distance,Padd_distance
0,BR11AA,51.401546,0.015415,17.561,17.293,14.363,19.115,14.522,10.755,15.324,17.485,18.322
1,BR11BQ,51.408058,0.015874,16.984,16.714,13.822,18.547,13.897,10.279,14.791,16.926,17.852
2,BR11EZ,51.404336,0.014761,17.279,17.010,14.092,18.836,14.226,10.505,15.056,17.209,18.075
3,BR11HT,51.401521,0.014249,17.519,17.251,14.316,19.071,14.488,10.700,15.275,17.440,18.265
4,BR11JA,51.401897,0.014323,17.487,17.219,14.286,19.039,14.453,10.674,15.246,17.409,18.240

In [23]:
Rail.to_csv('Rail.csv')